params.input = "/Users/westc/nextflow/dev/data/cut_tag/test_data/ena/K27me3/K27me3_meta_2.csv"
//params.input = "/Users/westc/nextflow/dev/data/cut_tag/test_data/ena/IgG_rep2/IgG_meta.csv"
params.control = "/Users/westc/nextflow/dev/data/cut_tag/test_data/ena/IgG_rep2/IgG_meta_2.csv"

//params.control = "/Users/westc/nextflow/dev/data/cut_tag/test_data/ena/IgG_rep2/aligned/IgG_exp1.bed"

params.spike_in_index = ["/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/e_coli/bt2_index/e_coli.1.bt2",
                        "/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/e_coli/bt2_index/e_coli.2.bt2",
                        "/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/e_coli/bt2_index/e_coli.3.bt2",
                        "/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/e_coli/bt2_index/e_coli.4.bt2",
                        "/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/e_coli/bt2_index/e_coli.rev.1.bt2",
                        "/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/e_coli/bt2_index/e_coli.rev.2.bt2"]

// params.genome_index = ["/Users/westc/nextflow/dev/data/cut_tag/test_data/chr20/bt2_index/chr20.1.bt2",
//                         "/Users/westc/nextflow/dev/data/cut_tag/test_data/chr20/bt2_index/chr20.2.bt2",
//                         "/Users/westc/nextflow/dev/data/cut_tag/test_data/chr20/bt2_index/chr20.3.bt2",
//                         "/Users/westc/nextflow/dev/data/cut_tag/test_data/chr20/bt2_index/chr20.4.bt2",
//                         "/Users/westc/nextflow/dev/data/cut_tag/test_data/chr20/bt2_index/chr20.rev.1.bt2",
//                         "/Users/westc/nextflow/dev/data/cut_tag/test_data/chr20/bt2_index/chr20.rev.2.bt2"]

params.general_genome = "/Users/westc/nextflow/dev/data/cut_tag/test_data/chr20/chr20.genome"

params.modules['seacr'].args = 'norm stringent'

// params.genome_index = ["/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.1.bt2",
//                         "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.2.bt2",
//                         "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.3.bt2",
//                         "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.4.bt2",
//                         "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.rev.1.bt2",
//                         "/Users/westc/nextflow/dev/data/chr20/small_rna_bowtie_ind/small_rna_bowtie_ind.rev.2.bt2"]

// params.general_genome = "/Users/westc/nextflow/dev/data/chr20/chr20_size.fa.fai"

// params.genome_index = ["/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/hg38/bt2_index/hg38.1.bt2",
//                         "/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/hg38/bt2_index/hg38.2.bt2",
//                         "/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/hg38/bt2_index/hg38.3.bt2",
//                         "/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/hg38/bt2_index/hg38.4.bt2",
//                         "/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/hg38/bt2_index/hg38.rev.1.bt2",
//                         "/Users/westc/nextflow/dev/data/cut_tag/test_data/genomes/hg38/bt2_index/hg38.rev.2.bt2"]


// params {
//     modules {
//         'bowtie2_spike_in'{
//             args             = ""
//             suffix           = ""
//             publish_dir      = "bowtie2_2"
//             publish_results  = "all"
//             unmapped_suffix  = ""
//             output_sam       = false
//         }
//     }
// }
