params {
    input="$baseDir/test_data/GSE145187/test-design-all.csv"
    genome="$baseDir/test_data/genomes/hg38-chr20.fa.gz"
    spike_in_genome="$baseDir/test_data/genomes/e_coli_U00096_3.fa.gz"
    genome_blacklist="$baseDir/test_data/blacklists/hg38-blacklist.v2.bed.gz"
    spike_in_blacklist="$baseDir/test_data/blacklists/empty-blacklist.bed"
}