params {
    input="https://raw.githubusercontent.com/luslab/nf-cut-tag/master/test_data/GSE145187/test-design-all.csv"
    genome="https://raw.githubusercontent.com/luslab/nf-cut-tag/master/test_data/genomes/hg38-chr20.fa.gz"
    spike_in_genome="https://raw.githubusercontent.com/luslab/nf-cut-tag/master/test_data/genomes/e_coli_U00096_3.fa.gz"
    genome_blacklist="https://raw.githubusercontent.com/luslab/nf-cut-tag/master/test_data/blacklists/hg38-blacklist.v2.bed.gz"
    spike_in_blacklist="https://raw.githubusercontent.com/luslab/nf-cut-tag/master/test_data/blacklists/empty-blacklist.bed"
    chrom_sizes="https://raw.githubusercontent.com/luslab/nf-cut-tag/master/test_data/genomes/hg38.chrom.sizes"
    genome_gtf="https://raw.githubusercontent.com/luslab/nf-cut-tag/master/test_data/genomes/hg38.ncbiRefSeq.gtf.gz"

    //input="$baseDir/test_data/GSE145187/test-design-all.csv"
    //genome="$baseDir/test_data/genomes/hg38-chr20.fa.gz"
    //spike_in_genome="$baseDir/test_data/genomes/e_coli_U00096_3.fa.gz"
    //genome_blacklist="$baseDir/test_data/blacklists/hg38-blacklist.v2.bed.gz"
    //spike_in_blacklist="$baseDir/test_data/blacklists/empty-blacklist.bed"
    //chrom_sizes="https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/hg38.chrom.sizes"
    //genome_gtf="https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/genes/hg38.ncbiRefSeq.gtf.gz"
}