params {
    input="$baseDir/test_data/test_design_all_ig.csv"
    genome="$baseDir/../../test_data/hg38.fa.gz"
    spike_in_genome="$baseDir/test_data/e_coli_U00096_3.fa.gz"
    genome_blacklist="$baseDir/assets/blacklists/hg38-blacklist.v2.bed.gz"
    spike_in_blacklist="$baseDir/assets/blacklists/example_blacklist.bed"
}

process {

  withName: bt2_build_exp {
    cpus = { check_max ( 16, 'cpus' ) }
    memory = { check_max ( 14.GB * task.attempt, 'memory' ) }
  }
}